<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Node.js Web Server</title>
    <meta name="description" content="The node.js Web Server">
    <meta name="author" content="MarcoSantss">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/index.js"></script>
</head>

<body>
    <h1>{{title}}</h1>
    <p>Age: {{age}} years</p>
    {{>header}}
    <img src="/img/cat.jpg" />
</body>

</html>